body {
  background-color: darkgrey
}

img{
  float: right;
  margin-left: 150px;
  padding-right: 20px;
  width: 250px;
}

h1 {
  float: left;
  font-size: 30px;
}

h1, h2 {
  text-decoration: underline;
}

#menu1 h3 {
  font-size: 40px;
}

#menu1 h4 {
  font-size: 30px;
}

#menu1 li, #menu p {
  font-size: 20px;
}

.numbers {
  font-weight: bold;
}

.project-div {
  display:flex;
}

.website {
  margin-bottom: 200px;

}

.websiteFV {
  margin-bottom: 400px;
}
